@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");

body {
  /* overflow-x:hidden;
  overflow-y:hidden; */
}

.none {
  display: none !important;
}

a {
  color: #2e3547;
}

.block {
  display: block;
}

.logo-icon {
  width: 32px !important;
  height: 32px !important;
}

.txt-plannerDay {
  font-family: "Luckiest Guy", cursive !important;
}

/* .m-5 {
  margin: 5px;
} */

.fontSize-13 {
  font-size: 13px !important;
}

.avatarUser {
  width: 100px !important;
  height: 100px !important;
}

.user-card {
  display: "flex" !important;
  flex-direction: "column" !important;
  align-items: "center" !important;
  justify-content: "center" !important;
}



.overflow-hidden {
  overflow: hidden;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.flex {
  display: flex;
}

.shrink-0 {
  flex-shrink: 0;
}

.px-16 {
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}

.py-32 {
  padding-bottom: 3.2rem;
  padding-top: 3.2rem;
}

.p-64 {
  padding: 6.4rem;
}

.flex-col {
  flex-direction: column;
}

.w-full {
  width: 100%;
}

.bg-dark-app {
  background-color: var(--backgroundHeroBootrap) !important;
}


.Typography2 {
  font-size: 0.875rem !important;
  font-family: Nunito, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
  font-weight: 400 !important;
  line-height: 1.43 !important;
}

.boxshadow-17 {
  box-shadow: 0 0 14px 0 rgb(53 64 82 / 13%);
}


.MuiTypography-caption {
  font-size: 0.75rem !important;
  font-family: Nunito, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
  font-weight: 400 !important;
  line-height: 1.66 !important;
}

.px-11 {
  font-size: 11px;
}

.buttonFollow {
  /* width: 25%; */
  height: 25px;
  font-size: 11px  !important;
}

.iconUser{
  
  font-size: 17px !important;
}