
/* calendar */

.muiltr-zfmryi .fc-daygrid-day-top .fc-daygrid-day-number {
  color: rgb(107, 114, 128) !important;
  font-weight: 500 !important;
  font-size: 12px !important;
  display: inline-flex !important;
  align-items: center !important ;
  justify-content: center !important;
  width: 26px;
  height: 26px;
  margin: 4px 0px;
  border-radius: 50%;
  float: none;
  line-height: 1;
  text-decoration: none;
} 
.muiltr-zfmryi .fc-scrollgrid, .muiltr-zfmryi .fc-theme-standard td, .muiltr-zfmryi .fc-theme-standard th {
  border-color: rgb(215 220 226) !important;
}

.muiltr-zfmryi .fc-col-header-cell .fc-col-header-cell-cushion {
  color: rgb(107, 114, 128);
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
}


a:not([role="button"]):not(.MuiButtonBase-root) {
  color: var(--backgroundHeroBootrap);
  /* text-decoration: underline; */
}